  <!-- Hero Section -->
  <section id="hero" class="hero section light-background">

    <img src="./assets/img/imagebg.gif" alt="">

    <div class="container" data-aos="zoom-out">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <h2 class="text-primary">Muhammad Taimoor Hassan</h2>
          <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
          <div class="social-links">
            <!-- <a href="#"><i class="bi bi-twitter-x"></i></a> -->
            <a href="https://www.facebook.com/taimoor.hassan.585"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/taimoor.hassan.585/?hl=en"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/muhammad-taimoor-hassan-9838a9156/"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- /Hero Section -->