  <!-- Skills Section -->
  
  <section id="skills" class="skills section" style="background-color: #f4fafd;">
    <!-- Section Title -->
    <div class="container-fluid section-title" data-aos="fade-up">
      <h2>Skills</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row skills-content skills-animation">

        <div class="col-lg-6">

          <div class="progress" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400">
            <span class="skill"><span>HTML / CSS</span> <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress" data-aos="fade-down" data-aos-duration="1500" data-aos-delay="400">
            <span class="skill"><span>Bootstrape(3,4,5)</span> <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!-- End Skills Item -->

          <div class="progress" data-aos="fade-down" data-aos-duration="2000" data-aos-delay="1200">
            <span class="skill"><span>JavaScript</span> <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress" data-aos="fade-down" data-aos-duration="2500" data-aos-delay="1600">
            <span class="skill"><span>TypeScript / JQuery</span> <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress" data-aos="fade-down" data-aos-duration="3000" data-aos-delay="2000">
            <span class="skill"><span>Web API</span> <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress" data-aos="fade-down" data-aos-duration="2000" data-aos-delay="2400">
            <span class="skill"><span>SOLID Principle</span> <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000">
            <span class="skill"><span>Asp .Net Core(3.1,6,7,8)</span> <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="1000">
            <span class="skill"><span>EntityFrawork Core / MVC / ADO .Net</span> <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="1000">
            <span class="skill"><span>CODE First / DB First</span> <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress" data-aos="fade-left" data-aos-duration="2500" data-aos-delay="1000">
            <span class="skill"><span>SQL Server (2017, 2018, 2019, 2022)</span> <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

          <div class="progress" data-aos="fade-left" data-aos-duration="3000" data-aos-delay="1000">
            <span class="skill"><span>Angular 17</span> <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress" data-aos="fade-left" data-aos-duration="3000" data-aos-delay="1000">
            <span class="skill"><span>JWT</span> <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </section>
  <!-- /Skills Section -->