<header id="header" class="header d-flex flex-column justify-content-center">

  <i class="header-toggle d-xl-none bi bi-list"></i>

  <nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i><span>Home</span></a></li>
      <li><a href="#about"><i class="bi bi-person navicon"></i><span>About</span></a></li>
      <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i><span>Resume</span></a></li>
      <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i><span>Services</span></a></li>
      <li><a href="#portfolio"><i class="bi bi-images navicon"></i><span>Portfolio</span></a></li>
      <li><a href="#contact"><i class="bi bi-envelope navicon"></i><span>Contact</span></a></li>
    </ul>
  </nav>

</header>


<router-outlet></router-outlet>

<footer id="footer" class="footer position-relative light-background">
  <div class="container">
    <h3 class="sitename">Syed Muhammad Taimoor Hassan</h3>
    <div class="social-links d-flex justify-content-center">
      <a href="https://www.facebook.com/taimoor.hassan.585" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/taimoor.hassan.585/?hl=en" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="live:taimoor.hassan_2" target="_blank"><i class="bi bi-skype"></i></a>
      <a href="https://www.linkedin.com/in/muhammad-taimoor-hassan-9838a9156/" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="container">
      <div class="copyright">
        <span>Copyright</span> <strong class="px-1 sitename">M Taimoor</strong> <span>All Rights Reserved</span>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="#">Taimoor</a>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>