  <!-- Resume Section -->
  <section id="resume" class="resume section" >

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <p></p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Sumary</h3>

          <div class="resume-item pb-0">
            <h4>M Taimoor Hassan</h4>
            <p class="animate__animated animate__flip animate__delay-2s" ><em>I am a dynamic Full Stack Developer with over 5 years of experience in .NET technologies, proficient in ASP.NET Core, MS SQL, and Angular.
               I have engineered comprehensive systems such as, FastEx Daewoo LMS, TripeeOnline,Lost and Found and a Cargo Management System that greatly improved operational efficiency. 
              I am eager to leverage my skills in Object-Oriented Programming and software development to contribute to innovative projects</em></p>
       
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Master in Information and Technology</h4>
            <h5>2015 - 2017</h5>
            <p><em>The Superior University</em></p>
            <p>Lahore, Pakistan</p>
          </div>

          <div class="resume-item">
            <h4>Bachelor of Electronics Engineering</h4>
            <h5>2010 - 2012</h5>
            <p><em>Preston University</em></p>
            <p>Lahore, Pakistan</p>
          </div>

          <div class="resume-item">
            <h4>Diploma Associate in Electronics Engineering</h4>
            <h5>2007 - 2010</h5>
            <p><em>Ahamad hassan poly technic institute</em></p>
            <p>Lahore, Pakistan</p>
          </div>

          <div class="resume-item">
            <h4>F.SC Pre Engineering (Inter)</h4>
            <h5>2005 - 2007</h5>
            <p><em>GOVt. Shalimar College Baghban pura</em></p>
            <p>Lahore, Pakistan</p>
          </div>

          <div class="resume-item">
            <h4>Matric Computer science (SSC)</h4>
            <h5>2003 - 2005</h5>
            <p><em>GOVt. High school Baghban pura</em></p>
            <p>Lahore, Pakistan</p>
          </div>

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Senior Executive Asp .Net Developer</h4>
            <h5>Feb 2024 - Present</h5>
            <p><em>Daewoo Express Bus Service (Lahore, Pakistan) </em></p>
            <ul>
              <li> developed the <strong>FastEx</strong> application using Angular 17 for the frontend, leveraging HTML5, CSS3, Bootstrap 5.3, and TypeScript to create a responsive and user-friendly interface. The backend was built using ASP.NET Core 6 with SQL Server 2018, ensuring a robust and scalable architecture for handling data efficiently</li>
              <li>developed the <strong>Daewoo LMS</strong>  application using ASP.NET Core 3.1 with SQL Server 2019, utilizing Razor Pages for the frontend. For authentication and authorization, I implemented ASP.NET Identity, integrating JWT tokens and cookies to ensure secure access. Additionally, I used SignalR for real-time communication, enabling features such as live updates and instant notifications </li>
              <li>Develop <strong>Lost and Found</strong> module is designed to help customers report lost items and assist terminal staff in tracking and returning found belongings efficiently. It includes features for customers to report lost items, terminal staff to log found items, and a system to match lost items with their rightful owners</li>
              <li>Develop <strong>Holo Docs</strong> frontend on angular 17 as a freelance and design a dynamic SPA.</li>
           
            </ul>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Asp .Net Developer</h4>
            <h5>May 2023 - November 2023</h5>
            <p><em>Paratech (Lahore, Pakistan) </em></p>
            <ul>
              <li>Contributed to diverse projects leveraging ASP.NET Core and ASP.NET MVC, focusing intently on ERP systems.</li>
              <li>Worked on multiple projects using ASP.NET Core and ASP.NET MVC, ensuring scalable and efficient enterprise applications.</li>
              <li>Specialized in ERP systems, which involved managing business operations, finance, HR, inventory, and customer data.</li>
              <li>Develop and design different module on different project like <strong>Madiland Pakistan, Atelier Clinic, Rent A Car, Latus, Nutifull</strong></li>
              <li>Developed modules such as <strong>user management, financial reporting, order processing, and inventory tracking</strong> to streamline business operations.</li>
              <li>•	Integrated Node.js APIs with the backend to improve system interoperability and real-time data exchange</li>	
            </ul>
          </div>

          <div class="resume-item">
            <h4>Jr. Asp .Net Developer</h4>
            <h5>March 2021 - May 2023</h5>
            <p><em>Digicone Valley (Lahore, Pakistan) </em></p>
            <ul>
              <li>The company specializes in developing web-based applications tailored to meet various business needs.</li>
              <li>Engaged in significant projects such as TripeeOnline and Study Abroad utilizing ASP.NET Core 3.1.</li>
              <li><strong>TripeeOnline</strong>: A travel and tourism platform where clients, admins, and agents manage tours, bookings, and payments.</li>
              <li><strong>Study Abroad</strong>: An educational portal where students enroll for international studies and administrators manage university and course details.</li>
              <li>Integrated <strong>Identity Framework</strong> for secure <strong>user authentication and role-based authorization</strong>  (e.g., Client, Admin, and Agent in TripeeOnline).</li>
            </ul>
          </div>

        </div>

      </div>

    </div>

  </section>
  <!-- /Resume Section -->